
    <% @books.each do |book| %>
      <div>
        <p><%= link_to book.title, book %></p>
        <p><%= book.author %></p>
        <% if book.rents.empty? %>  
          <p>Ninguém</p>
        
        <% else %>  
          <p><%= book.rents.first.name %></p>
        <% end %>
      </div>    

    <% end %>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>

